
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section div{
    margin: 10px;

}

#banniere{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url(images/ac_banniere_mobile.jpeg);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*#banniere{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    background-image: url("images/ac_banniere_mobile.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;

}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

article{
    border: 1px solid cadetblue;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: auto;
    border-radius: 15px 0px 15px 0px;
}


article a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.button{
    border: 1px solid cadetblue;
    border-radius: 3px;
    padding : 5px;
    background-color: cadetblue;
    text-decoration: none;
    color: white;
}
html {
    height: 100%
  }

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

footer {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.liens-footer {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
}

footer p {
    text-align: center;
    padding: 5px;
    margin: 5px;
}


.réseaux-sociaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
}*/