*{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#title_mat{
    width: 100%;
    height: 200px;
    display: flex;
}

.navin{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.navpage nav ul li a{
    list-style: none;
    text-decoration: none;

}