*{
    margin: 0;
    padding: 0;
}

#titrepage{
    width: 100%;
    height: auto;
    position: relative;
}

#titrepage div img{
    width: 100%;
    height: auto;
}

.Mattitre h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; 
    color: #fff;
    font-weight: bold;   
}

.Matsst{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 50px;
}

.Matsst img{
    height: 200px;
    margin-left: -100px;
}

.Matess{
    position: absolute;
    background: #0396FF;
    height: 40px;
    padding: 0px 45px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: 100px;
    margin-left: 45px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
    opacity: 0.7;
}

.Matess h3{
    color: #fff;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}

.navin{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.indoor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seprate-line {
	width: 20px; height: 3px; background: white;
}
.g-card {
  margin: auto;
  top: 100px;
  float: left;
  margin-left: 6%;
  position: relative;
  width: 320px;
  min-height: 400px;
  overflow: hidden;
  background: linear-gradient(135deg, #02aab0, #00cdac);
  padding: 60px 30px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  
}

.cardprdt0 img{
    width: 350px;
    height: auto;
    margin-top: -120px;
    margin-left: -60px;
}


.cardprdt1 img{
    width: 150px;
    height: auto;
    margin-top: -30px;
    margin-left: 60px;
    margin-bottom: 30px;
}

.cardprdt2 img{
    width: 150px;
    margin-left: 50px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.cardprdt3 img{
    height: 150px;
    margin-left: 40px;
    margin-top: -30px;
    margin-bottom: 30px;

}

main{
    display: flex;
    flex-direction: column;
    justify-items: center;

}
main h3, main h2{
    text-align: center;
    margin-top: 20px;
}


/*   */

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Style pour titres toutes pages */

h2 {
    color : white;
    background-color: #292b2c;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    padding: 10px;
}

h3 {
    color : #292b2c;
    padding : 10px;
    font-family: 'Times New Roman', Times, serif;
}

/* CSS spécifique page grimperEnsemble.html */

.sectionForm {
    display: flex;
    flex-direction: column;
    align-items : center;
    width : 100%;
}
.form-group {
    width : 80%
}
.card_body{
    position : relative;
}

.cardButtonDiv {
    display : flex;
}
.cardButton {
    position: absolute;
    bottom: 0;
    margin : 10px auto;
}

#formButton {
    align-self: flex-end;
    margin-right: 10%;
}

.creditPhoto {
    font-style: italic;
    font-size: 0.8em;
    color : grey;

}

.creditPhoto a {
    font-style: italic;
    color : grey;
}

/* fin CSS Jeff */

/* debut css nico*/


.btn-navigation {
    position: fixed;
    right: 30px;
    top: 15px;
    z-index: 20;
    cursor: pointer;
}

.btn-navigation .barre {
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 6px;
    transition: background 2s ease-in-out;
    --webkit-transition:background : transform 2s ease-in-out;
}

.btn-navigation .barre.white {
    background: white;
}

.nav-bar-escalade {
    position: fixed;
    right: 0;
    background-color: #5cb85c;
    opacity: 1;
    min-width: 23%;
    height: 100%;
    z-index: 1;

    transform: translateX(100%);
    
    transition: transform 1s ease-in-out;
    --webkit-transition:transition: transform 1s ease-in-out;
}

.nav-bar-escalade.isOpen {
    transform: translateX(0%);
    --webkit-transform: translateX(0%);
    transition: transform 1s ease-in-out;
    --webkit-transition:transition: transform 1s ease-in-out;
}

.nav-bar-escalade ul {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding-left: 20px;
}

.nav-bar-escalade ul li {
    flex: 1;
    margin: 10px 0;
    padding: 10px;
    list-style-type: none;
    height: 100%;
    width: 80%;
}

.nav-bar-escalade ul li a {
    padding: 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    width:100% ;   
    height: 100%;
    text-align: center;
}
.nav-bar-escalade ul li:hover{
    background-color: aliceblue;
    color: green;
}
.nav-bar-escalade ul li a:hover {
    padding: 10px;
    font-size: 24px;
    color: #5cb85c;
    text-decoration: none; 
    background-color: aliceblue;  
}

/* fin css nico */

    /* début css amélie */

.cardHomePage, .sectionCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cardHomePage div, .sectionCards div {
    margin: 10px;

}

#banniere {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url(images/ac_banniere_mobile2.jpeg);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banniere h2, #banniere p{
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding : 5px 10px;
}

/* fin css amélie */

/* début css justine */
footer {
    background-color: #292b2c;
    margin-top: auto;
    width: 100%;
}

    footer img {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 5px;
    }

    /* fin css justine */
/* 
 Début CSS Pascal */

.intro_bloc_voie {
    display: flex;
}

.intro_para {
    width: 50%;
}

.cardSalles  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cardSalles .card {
    margin: 10px;
    height: 600px;
}

.voie  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.paraesca {
    margin : 10px;
    border: 1px solid red;
    height: 250px;
    padding: 10px;
}



iframe {
    text-align: center;
    justify-content: center;
    border: 2px solid red;
    width: 100%;
    height: 100%;
}

.listing_block {
    display: flex;
}

.ul_block {
    display: flex;
    justify-content: space-around;
    width:100%;
    border : 1px solid red;
}

.intro_bloc_voie {
    display: flex;
}

.liens-footer {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    padding-top: 25px;
}

footer a {
    text-align: center;
    padding: 5px;
    margin: 5px;
    
}

footer a:link{
    text-decoration: none;
    color: #fff;
}

footer a:visited{
    text-decoration: none;
    color: #fff;
}

.reseaux-sociaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

footer img {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
}

/* fin css justine */


@media only screen and (min-width:961px) {
    /* debut responsive nico */
  
    .btn-navigation {
        position: relative;
        display: none;
    }

    .nav-bar-escalade {
    position: static;
    left: 0;
    background-color: #5cb85c;
    opacity: 1;
    z-index:0;
    transform: translateX(0%);

    transition: transform 1s ease-in-out;
    --webkit-transition:transition: transform 1s ease-in-out;

    }

    .nav-bar-escalade.isOpen {
    transform: translateX(0%);
    --webkit-transform: translateX(0%);
    transition: transform 1s ease-in-out;
    --webkit-transition:transition: transform 1s ease-in-out;
    }

    .nav-bar-escalade ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-around;
    
    }

    .nav-bar-escalade ul li {
    display: flex;
    justify-content: space-around;
    margin: 0 ;
    padding: 5px;
    list-style-type: none;
    }
    .nav-bar-escalade ul li :hover,
    .nav-bar-escalade ul li a:hover{
    background-color: aliceblue;
    color: green;
    }



    /* fin responsive nico */

    footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    footer a {
    text-align: left;
    padding: 1px;
    margin: 1px;
    }

    footer a:hover {
        text-decoration: none;
        color:#5cb85c;
    }
    footer img {
        width: 50px;
        height: 50px;
        margin: 15px;
        padding: 0px;
    }

    .liens-footer {
        margin: 0px;
        padding: 30px;
    }

    .reseaux-sociaux {
    padding: 30px;
    }
}
